<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Django Course</title>
</head>
<body>
        {% comment %} <h1>Want to purchase Django course</h1>
        <h1>the name of the course is {{name}}</h1>
        <h1>the duration of the course is {{duration}}</h1>
        <h1>the seats of the course is {{seats}}</h1> {% endcomment %}
  
        <h1>Hey You</h1>
        <h3>
          Name:{{Name | upper}}
        </h3>
        
        <h3>Desc: {{Description | truncatewords:3}}</h3>
        <h3>Desc: {{Description | upper | truncatewords:3}}</h3>

        <h3>Name: {{Name| default:"Word is not avaible"}}</h3>
        <h3>Name: {{Name| slice:"2"}}</h3>
        <h3>Name:{{Name | length}}</h3>
        <h3>Name: {{Name| truncatechars:3}}</h3>

</body>
</html>