<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block universalcss %}
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    {% endblock universalcss %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% comment %} this is header {% endcomment %}
    {% block header %}This is header{% endblock header %}

    <h1>{% block content %}{% endblock content %}</h1>
    {% block hero %}{% endblock hero %}
    <ul>
        <li>Django</li>
        <li>Flask</li>
        <li>Python</li>
    </ul>

    {% block footer %}This is footer{% endblock footer %}

</body>
</html>