{% block content %}

<div class="min-h-screen bg-gray-900 flex items-center justify-center">
    
    <div class="bg-white p-10 rounded-2xl shadow-2xl text-center w-[500px]">
        
        <h1 class="text-5xl font-bold text-blue-600 mb-4">
            Tailwind CSS Working 🚀
        </h1>

        <p class="text-gray-700 text-lg mb-6">
            You have successfully integrated Tailwind CSS with Django.
        </p>

        <button class="bg-blue-600 hover:bg-blue-800 text-white px-6 py-3 rounded-xl text-lg transition duration-300">
            Click Me
        </button>

    </div>

</div>

{% endblock content %}